
@font-face {
  font-family: Regular;
  src: url(./fonts/webfonts/PlusJakartaSans-Regular.woff);
}

@font-face {
  font-family: ExtraBold;
  src: url(./fonts/webfonts/PlusJakartaSans-ExtraBold.woff);
}

@font-face {
  font-family: Bold;
  src: url(./fonts/webfonts/PlusJakartaSans-Bold.woff);
}

@font-face {
  font-family: Medium;
  src: url(./fonts/webfonts/PlusJakartaSans-Medium.woff);
}

@font-face {
  font-family: Light;
  src: url(./fonts//webfonts//PlusJakartaSans-Light.woff);
}

@font-face {
  font-family: MediumItalic;
  src: url(./fonts/webfonts/PlusJakartaSans-MediumItalic.woff);
}

@font-face {
  font-family: Italic;
  src: url(./fonts/webfonts/PlusJakartaSans-Italic.woff);
}
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0;
  font-family: Regular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
